*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


 
body{
  
  background: rgb(255, 255, 255)
}

.header{
  position: fixed;
  width: 100%;
  z-index: 1;
  
}

.navbar{
  margin-top: 0px;
  width:100%;
  height: 110px;
  overflow:auto;
  border: 1px solid rgb(228, 226, 226);
  background-color: white;
  

}

.navbar-menu{
  list-style: none;
   padding-top: 20px;
   padding-right: 50px;
  justify-content: space-around;
}

.menu-items{
  float: right;
}

.menu-items a{
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-family: sans-serif;
  color: black;
  text-align: center;
  

}
.logo img{
  position: absolute;
  display: inline ;
  width: 100px;
  height: 90px;
  margin-left: 100px;

}

/* HEADER ENDS*/

/* ////........Footer start.......//// */
.footer{
  width: 100%;
  height: 400px;
  background-image:url("/assets/uploads/image/footerImage.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 150px;

  
 }
 .footerbackground{
  background-color: #08148f;
  height: 400px;
  opacity: 0.8;
  display: flex;
 }

.about{
width: 400px;
color: white;
padding: 20px;
margin-top: 50px;
margin-bottom:  30px;
margin-left: 70px;
font-size: 15px;
word-spacing: 5px;
text-align: justify;

}
.projects{
width: 400px;
line-height: 20px;
color: white;
margin-top: 70px;
margin-bottom:  40px;
margin-left: 70px;

}
.projects>h4{
margin-left: 70px;
}
.contacts{
width: 400px;
color: white;
padding: 20px;
text-align: justify;

}
.headings{
color: rgb(0, 179, 255);
margin-top: 20px;
margin-bottom: 20px;

}


.contact>h4{
margin-top: 70px;
margin-left:20px;
padding-top: 20px;
}
.menu>li{
list-style: none;
line-height: 30px;
margin-left: 50px;

}
.Cmenu{

margin-bottom:  100px;

}
.Cmenu>li{
list-style: none;
line-height: 30px;


}
.Cmenu>li>a{
color: white;
display: block;
margin-left: 20px;
text-decoration: none;
}

.Cmenu>.addr{
  width: 250px;
}
.menu>li>a{
color: white;
display: block;
margin-left: 20px;
}
.address{
color: white;
margin-left: 70px;
}
footer>.copyright>p{
background-color: #051943;
color: white;
margin-bottom: 10px;
margin-left: 100px;
margin-top: 15px;


}
.copyright{
  display: flex;
  background-color: #051943;
  height: 50px;
}


.copyright>.footerlogo>a>img{
width: 30px;
height: 30px;
padding: 5px;
background-color: white;

border-radius: 15px;
margin-left: 10PX;

}
.copyright>.footerlogo{
  margin-left: 500px;

  margin-top: 14px;
}

/* //////////FOOTER ENDS////////////// */




 
  /* body content starts  */
  .section1{
    background-image: url("/assets/uploads/image/building.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    
    
  }
  .callus{
    background-color: #2997c7;
    width: 200px;
    height: 50px; 
    opacity: 0.9;
    float: right;
    margin-right: 150px;
    margin-top: 110px;
    
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    
    
  }
  .callus>img{
    width: 20px;
    height: 12px;
    margin-top: 15px;
    margin-left: 10px;
    
   
    
  }
  .callus>a{
    text-decoration: none;
    color: white;
  }
  
 

  .sagu{
    
    border: 1px solid black;
    width: 25%;
    height: 450px;
    background-color: #0A2472E6;
    color: aliceblue;
    border-radius: 20px;
    margin-left: 150px;
    position: absolute;
    top: 150px;
     
  }

  .Box-1{
    
    width: 200px;
    margin-left: 30px;
    margin-top: 70px;
  }
  .sagu>.para{
    
    width: 250px;
    margin-left: 30px;  
    margin-top: 10px;
    text-align: justify;
  }
  .sagu>a>button{
    background-color:transparent;
    color: white;
    width: 60%;
    height: 50px;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 20px;
   
  }

      /* About SNID */
      /* section2 */


      .section2{
        background-image: url("/assets/uploads/image/section2.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
        display: flex;
      }
      
      .aboutmatrix{
        border: 1px solid white;
        width: 40%;
        height: 300px;
        color: black;
        border-radius: 20px;
      }
      .aboutmatrix>h4{
        color: skyblue;
        margin-bottom: 10px;
        margin-top: 100px;
        margin-left: 200px;
      }
      .aboutmatrix>h2{
        font-size: 30px;
        word-spacing: 5px;
        margin-top: 20px;
        margin-left: 200px;
      }
      .aboutmatrix>p{
        text-align: justify;
        color: rgb(132, 131, 131);
        margin-top: 50px;
        margin-left: 200px;
        width: 500px;
      }


    
      .aboutImg>img{
        margin-top: 100px;
        margin-left: 300px;
        border-radius: 30px;
        width: 382px;
        height: 450px;


      }
      .btn>a>button{
      background-color: #08148f;
      color: #ffffff;
      width: 150px;
      height: 50px;
      border-radius: 40px;
      text-align: center;
      margin-top: 20px;
      margin-left: 200px;
      
      
      }
      .btn>a>button:hover{
        background-color: black;
      }


   
        
        /* section4 */

        .section4>h3{
          text-align: center;
          margin-top: 100px;
           color: #008AFC;
           letter-spacing: 2px;
           font-size: 19px;
           
        }
        .section4>h2{
          text-align: center;
          font-size: 29px;
        }

        .premiumdeals{
          width: 100%;
          display: flex;
      
        }
        .deals1{
          margin-left: 120px;
        }

        .deals1>img,.deals2>img,.deals3>img{
          height: 350px;
          padding: 15px;
          border-radius: 30px;
        }
          
        .deals1>h4{
          color: #008AFC;
          line-height: 20px;
          width: 300px;
          margin-top: 10px;
          margin-left: 30px;
        }
        .deals2>h4{
          color: #008AFC;
          margin-left: 50px;
          width: 230px;
          margin-top: 10px;
        }
        .deals3>h4{
          color: #008AFC;
          margin-left: 70px;
          width: 230px;
          margin-top: 10px;
          
        }
        

        .deals1>h2{
          width: 250px;
          margin-top: 10px;
          margin-left: 30px;
        }
     
        
        .deals2>h2{
          width: 250px;
          margin-left: 50px;
          margin-top: 10px;
        }
        
        .deals3>h2{
          width: 250px;
          margin-left: 70px;
          margin-top: 10px;
        }

        
         .deals1>p{
          width: 250px;
          text-align: justify;
          margin-top: 10px;
          margin-left: 30px;
        }

        .deals2>p{
          width: 250px;
          text-align: justify;
          margin-left: 50px;
          margin-top: 10px;
        }
        .deals3>p{
          width: 250px;
          text-align: justify;
          line-height: 21px;
          margin-left: 70px;
          margin-top: 10px;
        } 



        .deals1>a>img{
          width: 30px;
          height: 30px;
          margin-left: 30px;
          margin-top: 30px;
          
          
          
          }
          .deals2>a>img{
          width: 30px;
          height: 30px;
         
          margin-top: 31px;
          margin-left: 50px;
          
          }
      
          .deals3>a>img{
          width: 30px;
          height: 30px;
          margin-top: 30px;
          margin-left: 74px;
          
          }
          .section4>a>button{
            background-color: #08148f;
            color: #ffffff;
            width: 150px;
            height: 50px;
            border-radius: 40px;
            margin-left: 550px;
            margin-top: 50px;
      
          }
          .section4>a>button:hover{
            background-color: black;
          }

          /* section4 ends */


        
    
       
  /* section5 starts  */
  .service>h3{
    margin-top: 150px;
    margin-left: 550px;
    color: #008AFC;
    font-weight: 100;
  }
  .service>h2{
    margin-top: 15px;
    margin-left: 430px;
    font-size: 30px;
  }
  .ourprojects{
    display: flex;
    margin-left: 200px;
    margin-bottom: 100px;
  }

  .ourprojects>.img1,.img2,.img3,.img4{
    border: 1px solid rgb(253, 253, 253);
    width: 200px;
    height: 170px;
    margin-left: 15px;
  }

  .ourprojects>.img1>img,.img2>img,.img3>img,.img4>img{
    margin-left: 50px;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    
    
  }
  .ourprojects>.img1>a,.img2>a,.img3>a,.img4>a{
    text-decoration: none;
    color: #08148f;
  }



  .ourprojects>.img1>a>p,.img2>a>p{
    margin-left: 40px;
    width: 100px;
    text-align: center;
    
    
  }
  .ourprojects>.img3>a>p,.img4>a>p{
    margin-left: 20px;
    text-align: center;
  }
  
  .ourprojects>.img1:hover,.img2:hover,.img3:hover,.img4:hover{
    background-color:#d9e3e0;
    border-radius: 10px;
  }

  /* section6 starts */

  .section6{
        background-image: url(/assets/uploads/image/coriderimage.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;

  }

    .review>h2{
      padding-top: 100px;
     margin-left: 450px;
      color: white;
      font-size: 30px;
      
    }

    .review{
      background-color: rgba(0, 0, 128, 0.457);
      opacity: 0.9;
      color: white;
      height: 500px;

    }
    .review1>img,.review2>img,.review3>img{
      width: 40px;
      height: 40px;
      margin-left: 50px;
      
    }
    .contents{
      display: flex;
      margin-left: 150px;
      margin-top: 100px;
      
    }
       
    .review1,.review2,.review3{
      width: 200px;
      margin-left: 100px;
      
    }
    .review1>span,.review2>span,.review3>span{
      color: greenyellow;
      
    }   
        
    .review1>p,.review2>p,.review3>p{
      margin-top: 50px;
      margin-bottom: 30px;

    }  

    /* section7 start */


    .instagram>a>img{
      width: 60px;
      height: 50px;
      margin-left:620px;
      margin-top: 60px;
      
    }
    .instagram>h2{
      margin-left: 500px;
      margin-top: 20px;
      margin-bottom: 20px;
      font-weight: 2px;

    }
    
    .instagram>p{
      margin-left: 600px;
      margin-bottom: 20px;
    }
    .instagram>button{
      margin-left: 610px;
      
      width: 90px;
      height: 30px;
      background-color: white;
    }
    .instagram>button>a>img{
      width: 30px;
      height: 20px;
      margin-top: 3px;
      border-radius: 20px;
       
    }


    /* ----------- */
    .insta{
      display: flex;
      margin-top: 60px;
      justify-content: center;

    }
    .insta>a>img{
      width: 300px;
      height: 300px;
      padding-left: 10px;
    }
  
    .instagram>button>a{
      text-decoration: none;
      color: black;
    }

    .loadmore>button{
      width: 120px;
      height: 40px;
      margin-top: 50px;
      margin-left: 580px;
      background: transparent;
    }
      
/* ------------------media  query------------------ */


/* LAPTOP VIEW */


@media screen and (min-width:769px) and (max-width:1025px) {

  
/* footer  starts */
.about>p{
  height: 300px;
  width: 300px;
  text-align: justify;
}

.projects{
  margin-left: -30px;
  margin-top: 70px;
}
.projects>h4{
  margin-left: 70px;
  
}

.contact{
  margin-left: -100px;
}

.copyright>.footerlogo{
  margin-left: 350px;
}


/* footer ends */



  .sagu>.para{
    width: 200px;
  }
 

  .aboutmatrix>h4,.aboutmatrix>h2{
    margin-left: 150px;
    width: 300px;
  }
  .aboutmatrix>p{
    margin-left: 150px;
    margin-top: 10px;
    width: 400px;
  }
  .btn>a>button{
    margin-left: 150px;
    
  }
  .aboutImg{
    margin-left: -100px;
    margin-top: 10px;
  }
  .section4>h3{
    margin-left:10px;
  }
  .premiumdeals{
    margin-left: -100px;
  }
  .section4>a>button{
    margin-left: 450px;
  }
  .deals3>p,.deals3>h2,.deals3>h4,.deals3>a>img{
    margin-left: 40px;

  }
  .deals2>p,.deals2>h2,.deals2>h4{
    margin-left: 40px;
  }

  .service>h3{
    margin-left: 470px;
  }
  .service>h2{
    margin-left: 350px;
  }
  .ourprojects{
    margin-left: 80px;
  }

  .review>h2{
    margin-left: 350px;
    padding-top: 50px;
    padding-left: 0;
  }

  .contents{
    margin-left: 10px;
  }

  .instagram>a>img{
    margin-left: 450px;
  }
  
  .instagram>h2{
    margin-left: 360px;
  }
  .instagram>p{
    margin-left: 430px;
  }
  .instagram>button{
    margin-left: 440px;
  }

  .loadmore>button{
    margin-left: 470px;

  }
  



}



/* TAB VIEW  */

@media screen and (min-width:425px) and (max-width:768px) {

.navbar{
  width: 100%;
}
  .navbar>.logo>a>img{
  margin-left: 10px;
}




  
/* footer */

.footer{
  height: 500px;
}
.footerbackground{
  height: 450px;
}

.about{
  margin-left: -10px;
}
.about>p{
  width: 250px;
  text-align: justify;
  margin-left: 10px;

}
.about>h4{
  width: 100px;
  margin-left: 10px;
}
.projects{
  margin-top: 50px;
  margin-left: -200px;
  width: 400px;
  
}
.projects>h4{
  margin-left:  140px;
  margin-top: 40px;
  width: 50px;
}
.projects>.menu{
  margin-left: 70px;
}
.contact>.Cmenu{
  margin-left: -60px;
  
}
.contact>h4{
  width: 200px;
  margin-left: -50px;
}

.copyright>p{
  width: 500px;
  margin-right: -400px;
  
}

.copyright>.footerlogo{
  display: flex;
 margin-right: 100px;
}

.Cmenu>.addr{
  width: 200px;
  margin-top: -10px;
 }
  

/* footer ends  */



  .sagu{
    width: 300px;
    margin-left: 50px;
  }

  .sagu>.para{
    width: 200px;
  }

  .aboutmatrix>h4,.aboutmatrix>h2{
    margin-left: 80px;
    width: 350px;
  }

  
  .aboutmatrix>p{
    margin-left: 80px;
    margin-top: 10px;
    width: 300px;
  }
  .btn>a>button{
    margin-left: 80px;
    
  }
  .aboutImg>img{
    width: 250px;
    height: 300px;
    margin-left: 100px;
    margin-top: 250px;
  }

  .section4>h3,.section4>h2{
    margin-left:250px;
    margin-bottom: 10px;
  
  }
  .premiumdeals{
    margin-left: -100px;
  }
  .section4>a>button{
    margin-left: 450px;
  }

  .section4>h3,.section4>h2{
    margin-left: 20px;
  }

    .deals1>img,.deals2>img,.deals3>img{
      width: 200px;
      height: 250px;
      margin-left: 20px;

    }
    .deals2>img{
      margin-left: -40px;
    }
    .deals3>img{
      margin-left: -40px;
    }



  .deals1>p,.deals2>p,.deals3>p{
    width: 200px;
   
  }
  .deals1>h2, .deals2>h2, .deals3>h2{
    font-size: 20px;
  }
  .deals2>h2{
    margin-left: -10px;
  }
  .deals3>h2{
    margin-left: -20px;
  }
  .deals1>h4,.deals2>h4,.deals3>h4{
    width: 200px;
    font-size: 15px;
  }
  .deals2>h4,.deals3>h4{
    margin-left: -20px;
  }
  .deals2>p,.deals3>p{
    margin-left: -20px;
  }


  .section4>a>button{
    margin-left: 350px;
  }
  
  

  .service>h3{
    margin-left: 350px;
  }
  .service>h2{
    margin-left: 220px;
  }
  .ourprojects{
    margin-left: 50px;
    width: 300px;
  }
  .ourprojects>.img3>a>p{
    margin-left: 60px;
  }
  .ourprojects>.img4>img{
    margin-bottom: 30px;
    margin-left: 20px;
  }
  .ourprojects>.img4>a>p{
    margin-top: -30px;

  }

  .review>h2{
    margin-left:250px;
    padding-top: 90px;
    padding-left: 0;
  }
  .contents{
    margin-left: 20px;
  }

  .contents>.review1,.contents>.review2,.contents>.review3{
    margin-left: 30px;
    
  }

  
  .instagram>a>img{
    margin-left: 350px;
  }
  
  .instagram>h2{
    margin-left: 260px;
    width: 300px;
  }
  .instagram>p{
    margin-left: 330px;
    width: 300px;
  }
  .instagram>button{
    margin-left: 340px;
  }
  .insta>a>img{
    width: 230px;
    height: 250px;
  }

  .loadmore>button{
    margin-left: 330px;

  }

  

}

/* MOBILE VIEW */
@media screen and (max-width:426px) {

/* HEADER START */

.header{
  position: fixed;
  
}


.navbar{
  width: 100%;
  height:140px;
  float: left;
  
}

.navbar-menu li a{
  font-size: 10px;
  
  
}
.navbar>.logo>a>img{
  margin-left: -2px;
  margin-top: 30px;
  width: 80px;
  margin-top: 49px;
  

}






/* HEADER ENDS */





/* BODY */

.callus{
  margin-top: 140px;
}

  .sagu{
    margin-top: 90px;

  }

  .Box-1>h2{
    width: 190px;
    text-align: justify;
  }

  .Box-1>.para{
    width: 200px;
  }
  .section2{
    height: 1000px;
  }

  .aboutmatrix>p{
    width: 300px;
    display: block;

}
.aboutImg>img{
  width: 250px;
  height: 300px;
  margin-left: -70px;
  margin-top: 610px;
}
.btn>a>button{
  margin-left: 150px;
  margin-top: 340px;
  
}

.premiumdeals{
  display: block;

}

.deals1{
  margin-left: 200px;
}
.deals2{
  margin-left: 240px;
}
.deals3{
  margin-left: 240px;
}

.section4>a>button{
  margin-left: 150px;
}

.service>h3{
margin-left: 150px;
}
.service>h2{
  margin-left: 50px;
  font-size: 25px;
}
.ourprojects{
  display: block;
  margin-left: 100px;
}
.ourprojects>.img3>a>p{
  margin-left: 10px;
}
.ourprojects>.img4>img{
  margin-left: 50px;
}


.section6{
  height: 700px;
}
.review{
  height: 700px;
}
.review>h2{
margin-left: 25px;

}
.contents{
  display: block;
  margin-left: 100px;
  margin-top: 30px;
}
.review1>p,.review2>p,.review3>p{
  margin-top: 10px;
}
.review1,.review2,.review3{
  margin-top: 20px;
}



.instagram>a>img{
  width: 100px;
  height: 100px;
  margin-left:160px;
  margin-top: 60px;
  
}
.instagram>h2{
  margin-left: 90px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  

}

.instagram>p{
  margin-left: 170px;
  margin-bottom: 20px;
  width: 200px;
}
.instagram>button{
  margin-left: 170px;
  
  width: 90px;
  height: 30px;
  background-color: white;
}
.insta{
  display: block;
  margin-left: 100px;
}
.loadmore>button{
  margin-left: 150px;
  margin-top: 20px;
}








/* BODY ENDS */

/* FOOTER STARTS */

  .menu-items{
    margin-left: -15px;
  }
  .footer{
    width:420px;
    height: 900px;
    
   }

  .footerbackground{
    height: 900px;
    width: 420px;

    display: block;
   }
   .about>p{
    width: 350px;
    margin-left: 25px;
    text-align: justify;
    
   }
   .about>h4{
    margin-left: 150px;
   }
   .about{
    width: 300px;
    margin-left:-10px;
   }
  
   .projects>h4{
     margin-left: 370px;
     margin-top: -40px;



   }
   .projects>.menu{
    width: 300px;
    margin-left: 270px;
    
    

   }
   .contact>h4{
    margin-left: 120px;
    margin-top: -30px;

    
   }
   .contact>.Cmenu{
    margin-left: 120px;
   }
   .Cmenu>.addr{
    width: 190px;
   }

   .copyright{
    display: block;
    background-color: #051943;
    height: 120px;
    margin-top: -17px;
    padding-top: 10px;
  }
  .copyright>p{
    width: 270px;
    margin-right: -200px;
    
    
  }
   .copyright>.footerlogo{
    margin-left: 150px;
   }
   


}

