
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  
   
  body{
    
    background: rgb(255, 255, 255)
  }
  
  .header{
    position: fixed;
    width: 100%;
    z-index: 1;
  margin-top: -150px;
    
  }
  
  .navbar{
    position: fixed;
    width:100%;
    height: 110px;
    overflow:auto;
    border: 1px solid rgb(228, 226, 226);
    background-color: white;
    /* z-index: 1; */
    
  
  }
  
  .navbar-menu{
    list-style: none;
     padding-top: 20px;
     padding-right: 50px;
    justify-content: space-around;
  }
  
  .menu-items{
    float: right;
  }
  
  .menu-items a{
    width: 100px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    text-align: center;
    
  
  }
  .logo img{
    position: absolute;
    display: inline ;
    width: 100px;
    height: 90px;
    margin-left: 300px;
  
  }
  
  /* HEADER ENDS*/
  
  /* ////........Footer start.......//// */
  .footer{
    width: 100%;
    height: 400px;
    background-image:url("/assets/uploads/image/footerImage.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 600px;
  
    
   }
   .footerbackground{
    background-color: #08148f;
    height: 400px;
    opacity: 0.8;
    display: flex;
    margin-top: -400px;
   }
  
  .about{
  width: 400px;
  color: white;
  padding: 20px;
  margin-top: 50px;
  margin-bottom:  30px;
  margin-left: 70px;
  font-size: 15px;
  word-spacing: 5px;
  text-align: justify;
  
  }
  .projects{
  width: 400px;
  line-height: 20px;
  color: white;
  margin-top: 70px;
  margin-bottom:  40px;
  margin-left: 50px;
  
  }
  .projects>h4{
  margin-left: 70px;
  }
  .contact{
  width: 300px;
  color: white;
  text-align: justify;
  margin-left: -90px;
  
  
  }
  .headings{
  color: rgb(0, 179, 255);
  margin-top: 20px;
  margin-bottom: 20px;
  
  }
  
  
  .contact>h4{
  margin-top: 70px;
  margin-left:20px;
  padding-top: 20px;
  }
  .menu>li{
  list-style: none;
  line-height: 30px;
  margin-left: 50px;
  
  }
  .Cmenu{
  
  margin-bottom:  100px;
  
  }
  .Cmenu>li{
  list-style: none;
  line-height: 30px;
  
  
  }
  .Cmenu>li>a{
  color: white;
  display: block;
  margin-left: 20px;
  text-decoration: none;
  }
  
  .Cmenu>.addr{
    width: 250px;
  }
  .menu>li>a{
  color: white;
  display: block;
  margin-left: 20px;
  }
  .address{
  color: white;
  margin-left: 70px;
  }
  footer>.copyright>p{
  background-color: #051943;
  color: white;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-top: 15px;
  
  
  }
  .copyright{
    display: flex;
    background-color: #051943;
    height: 50px;
  }
  
  
  .copyright>.footerlogo>a>img{
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: white;
  
  border-radius: 15px;
  margin-left: 10PX;
  
  }
  .copyright>.footerlogo{
    margin-left: 500px;
  
    margin-top: 14px;
  }
  
  /* //////////FOOTER ENDS////////////// */
  
  
  
  

/* project start page */

.madhu1{
    margin-left: 200px;
    margin-top: 150px;
}
.madhu2{
    margin-left: 700px;
    margin-top: -200px;
}
.madhu2>h1{
    padding: 20px;
    margin-left: -30px;
}
.madhu3>img{
    margin-left: 350px;
    margin-top: 100px;
}
.madhu3>h3{
    margin-left: 350px;
    margin-bottom:20px;
    margin-top:20px;
}
.madhu3>p{
   margin-left: 380px;
    margin-bottom:10px;
    margin-right:10px;
}
 .madhu4>p{
    width: 920px;
   margin-left: 150px;
   text-align: center;
   padding-top: 10px;
   margin-bottom: 20px;
 }
.madhu5{
    margin-left:150px;
    margin-top: 50px;
    
}
.madhu6>img{
    width:240px;
    padding: 6px;

}
.madhu7>img{
    width:240px;
    padding: 6px;
}
.madhu8>img{
    width: 240px;
    padding: 6px;
}
.madhu9{
    background-color: rgb(8, 8, 66);
    height: 850px;
    margin-top: 100px;
    display: flex;
}


.madhu9>h1{
    color: azure;
    margin-left: 300px;
    margin-top: 50PX;
}
 .madhu9>.madhu11{
    margin-top: 100px;
   
} 
.madhu11>.swa>p{
    border: 2px solid white;
    border-radius: 15px;
    width: 250px;
    color: azure;
    /* margin-left: -90px; */
    margin-top: 50px;
    padding: 20px;
    margin-left: 10px;
  
}
.madhu11>.swa{
     display: flex; 
     padding: 10px;
  margin-left: -450px
   
}
.madhu11>.swa1>p{
    border: 2px solid white;
    border-radius: 10px;
    width: 250px;
   margin-left: 10px;
    color: azure;
     /* margin-left: 90px; */
    padding: 20px; 
}
.madhu11>.swa1{
    display: flex;
    padding: 10px;
    margin-left: -450px;
}
.madhu11>.swa2>p{
    border: 2px solid white;
    border-radius: 10px;
    width: 250px;

    color: azure;
    margin-left: 10px;
    padding: 20px;
}
.madhu11>.swa2{
    display: flex;
    padding: 10px;
    margin-left: -450px;
}
.madhu11>.swa3>p{
    border: 2px solid white;
    border-radius: 10px;
    width: 250px;
    color: azure;
     margin-left: 10px;
    padding: 20px;
}
.madhu11>.swa3{
    display: flex;
    padding: 10px;
    margin-left: -450px;
}
.madhu11>.swa4>p{
    border: 2px solid white;
    border-radius: 10px;
    width: 250px;
    color:azure;
     margin-left: 10px; 
    padding: 20px;
}
.madhu11>.swa4{
    display: flex;
    padding: 10px;
    margin-left: -450px;
}
.madhu11>.swa5>p{
    border: 2px solid white;
    border-radius: 10px;
    width: 250px;
    color: azure;
    margin-left: 10px;
    padding: 20px;
}
.madhu11>.swa5{
    display: flex;
    padding: 10px;
    margin-left: -450px;
}
.madhu12>img{
    margin-left: 800px;
    width: 400px;
    height: 600px;
   margin-top: -1200px;
   margin-bottom: 200px;
}
.madhu13{
    margin-left: 350px;
    padding: 50px;
   
}
.madhu14{
    margin-left: 100px;
}
.madhu14>.swa>.swa1>p{
    border: 2px solid black;
    width: 250px;
    padding: 30px;
    border-radius: 10px;
    margin-left: 10px;
    
}
.madhu14>.swa>.swa1{
    display: flex;
    padding: 30px;
    margin-left: 50px;
}
.madhu14>.swa>.swa2>p{
    border:2px solid black ;
    width: 350px;
    height: 100px;
    margin-top: 20px;
    padding: 30px;
    border-radius: 10px;
    margin-left: -43px;
}
.madhu14>.swa>.swa2{
    margin-left: 650px;
    margin-top: -150px;
}
.swa3{
    margin-top: 40px;
    margin-left:10px;
}

.madhu14>.swa3>p{
    border: 2px solid black;
    width: 140px;
    padding: 30px;
    border-radius: 10px;
    margin-left: 80px;
}
.madhu14>.swa4>p{
    border: 2px solid black;
    width: 170px;
    height: 60px;
    padding: 15px;
    border-radius: 10px;
    margin-top: 35px;
    margin-left: 10px;
    
    
}
.madhu14>.swa4{
    display: flex;
    padding: 30px;
    margin-left: 210px;
    margin-top: -250px;
}
.madhu14>.swa5>p{
    border: 2px solid black;
    width: 170px;
    height: 80px;
    padding: 15px;
    border-radius: 10px;
    margin-left: 10px;
    
    
}
.madhu14>.swa5{
    display: flex;
    margin-left: 240px;
    
}
.madhu15>.swa1{
    border-radius: 30px;
     color: azure;
     background-color: blue;
     padding: 20px;
     width: 150px;
     margin-left: 150px;
     margin-top: 10px;
     margin-bottom: 30px;

}
.madhu15>.swa2{
    border-radius: 30px;
     color: aliceblue;
     background-color: rgb(11, 107, 44);
     padding: 10px;
     width: 250px;
     margin-left: 600px;
     margin-top: 10px;
     margin-bottom: 30px;


}
a>button{
    width:200px;
    height: 50px;
    border-radius: 30px;
    margin-top: 100px;
    background-color:navy;
    color: azure;
    border-style: none;
   margin-left: 200px;
  
   }
   button{
    width:200px;
    height: 50px;
    border-radius: 30px;
    margin-left: 450px;
    background-color:#a5be00;
    color: azure;
    border-style: none;
   }



/* media queries laptop */
@media screen and (min-width:769px) and (max-width:1025px) {
    .header{
        width: 100vw;
    }
    
   
.madhu1{
    margin-left: 150px;
}
.madhu2{
    margin-left: 600px;
    width: 300px;
}
.madhu3>img{
    margin-left: 230px;
    
} 
.madhu3>h3{
    margin-left: 240px;
    margin-right: -100px;
}  
.madhu3>p{
    margin-left: 260px;
}
.madhu4{
    margin-left: -100px;
}
.madhu6{
    width: 1250px;
    padding: 3px;
    margin-left: -100px;
}
.madhu7{
    width:1200px ;
    margin-left:-100px ;
}
.madhu8{
    margin-left: -100px;
}
.madhu9{
    width: 1020px;
}
.madhu11{
    margin-left: -190px;

}
.madhu12{
    margin-left: -200px;
    margin-top: 100px;
}
.madhu13{
    margin-left: 250px;
    
}
.madhu14{
    margin-left: -30px;
}
a{
    margin-left: -140px;
}

   
/* footer  starts */
.about>p{
    height: 300px;
    width: 300px;
    text-align: justify;
  }
  
  .projects{
    margin-left: -30px;
    margin-top: 70px;
  }
  .projects>h4{
    margin-left: 70px;
    
  }
  
  .contact{
    margin-left: -100px;
  }
  
  .copyright>.footerlogo{
    margin-left: 350px;
  }
  
  
  /* footer ends */
  
}

/* tab view */

@media screen and (min-width:427px) and (max-width:768px) {
    .madhu1{
        margin-left: 10px;
    }
    .madhu2{
        margin-left: 400px;
        width: 300px;
    }
    .madhu3>img{
        margin-left: 130px;
        
    } 
    .madhu3>h3{
        margin-left: 140px;
        margin-right: -100px;
    }  
    .madhu3>p{
        margin-left: 160px;
    }
    .madhu4>p{
        width: 620px;
        margin-left: 70px;
    }
    .madhu6>img{
        width: 150px;
        padding: 3px;
        height: 100px;
    }
    .madhu6{
        margin-left: -100px;
    }
    .madhu7>img{
        width: 150px;
        padding: 3px;
        height: 100px;
    }
    .madhu7{
        margin-left: -100px;
    }
    .madhu8>img{
        width: 150px;
        padding: 3px;
        height: 100px;
    }
    .madhu8{
        margin-left: -100px;
    }
    .madhu9{
        width: 768px;
        height: 1500px;
    }
    .madhu9>h1{
        margin-left: 170px;
      
        
    }
   
    .madhu12>img{
        margin-left: 200px;
        margin-top: -650px;
    }
    .madhu13{
        margin-left: 150px;
        margin-bottom: 100px;
        
    }
    .madhu14{
        margin-left: -80px;
    }

     .madhu14>.swa>.swa2>p{
      width: 300px;
      height: 120px;
      margin-left: -130px;
      margin-top: 20px;
      padding-bottom: -20px;
      margin-bottom: -10px;
    } 
    .madhu14>.swa>.swa1>p{
       margin-left: 25px;
        height: 120px;
        width: 180px;
        padding-right: 0px;
        margin-bottom: -20px;
    }
    .madhu14>.swa3>p{
        height: 200px;
    }
    .madhu14>.swa4>p{
        margin-top: 30px;
    }
    .madhu14>.swa5>p{
        padding-left: 5px;
        height: 90px;
        margin-right: 7px;
    }
    a{
        margin-left: -150px;
    }
    button{
        margin-left: 300px;
    }

    
.footer{
    height: 500px;
  }
  .footerbackground{
    height: 450px;
  }
  
  .about{
    margin-left: -10px;
  }
  .about>p{
    width: 250px;
    text-align: justify;
    margin-left: 10px;
  
  }
  .about>h4{
    width: 100px;
    margin-left: 10px;
  }
  .projects{
    margin-top: 50px;
    margin-left: -200px;
    width: 400px;
    
  }
  .projects>h4{
    margin-left:  140px;
    margin-top: 40px;
    width: 50px;
  }
  .projects>.menu{
    margin-left: 70px;
  }
  .contact>.Cmenu{
    margin-left: -60px;
  }
  .contact>h4{
    width: 200px;
    margin-left: -50px;
  }
  
  .copyright>p{
    width: 500px;
    margin-right: -400px;
    
  }
  
  .copyright>.footerlogo{
    display: flex;
   margin-right: 100px;
  }
  
  .Cmenu>.addr{
    width: 200px;
    margin-top: -10px;
   }
    
  
  /* footer ends  */

    
    }

@media screen and (max-width:426px) {
    .madhu1{
        margin-left: 30px;
    }
    .madhu2{
        margin-left: 450px;
        width: 300px;
    }
    .madhu3>img{
        margin-left: 190px;
        width: 50vw;
        
    } 
    .madhu3>h3{
        margin-left:200px;
        width: 600px;
    
    }  
    .madhu3>p{
        margin-left: 230px;
        width: 700px;
    }
    .madhu4>p{
        width: 620px;
        margin-left: 90px;
    }
    .madhu6>img{
        width: 550px;
        padding: 3px;
        height: 400px;
        margin-left: 80px;
    }
    .madhu6{
        margin-left: -100px;
    }
    .madhu7>img{
        width: 550px;
        padding: 3px;
        height: 400px;
        margin-left: 80px;
    }
    .madhu7{
        margin-left: -100px;
    }
    .madhu8>img{
        width: 550px;
        padding: 3px;
        height: 400px;
        margin-left: 80px;
    }
    .madhu8{
        margin-left: -100px;
    }
    .madhu9{
        width: 768px;
        height: 1500px;
    }
    .madhu9>h1{
        margin-left: 170px;
      
        
    }
   
    .madhu12>img{
        margin-left: 200px;
        margin-top: -650px;
    }
    .madhu13{
        margin-left: 150px;
        margin-bottom:-10px;
        margin-top: -150px;
        
    }
    .madhu13>h1{
        width: 800px;
    }
    .madhu14{
        margin-left: -80px;
    }

     .madhu14>.swa>.swa2>p{
      width: 300px;
      height: 120px;
      margin-left: -130px;
      margin-top: 20px;
      padding-bottom: -20px;
      margin-bottom: -10px;
    } 
    .madhu14>.swa>.swa1>p{
       margin-left: 25px;
        height: 120px;
        width: 180px;
        padding-right: 0px;
        margin-bottom: -20px;
    }
    .madhu14>.swa3>p{
        height: 200px;
        padding-top: 40px;
    }
    .madhu14>.swa4>p{
        margin-top: 16px;
        width: 300px;
        height: 100px;
        padding: 30px;
    }

    .madhu14>.swa5>p{
        margin-top: -20px;
        width: 300px;
        height: 100px;
        padding: 33px;
        padding-top: 10px;
        margin-bottom: -300px;
    }
    
    a>button{
        margin-left: -150px; 
        margin-bottom: -20px;
    }
    button{
         margin-left: 550px; 
         margin-top: -20px; 
    
    }
    
    

/* FOOTER STARTS */

  .menu-items{
    margin-left: -15px;
  }
  .footer{
    width:420vw;
    height: 900px;
    
   }

  .footerbackground{
    height: 900px;
    width: 420vw;

    display: block;
   }
   .about>p{
    width: 350px;
    margin-left: 25px;
    text-align: justify;
    
   }
   .about>h4{
    margin-left: 150px;
   }
   .about{
    width: 300px;
    margin-left:-10px;
   }
  
   .projects>h4{
     margin-left: 370px;
     margin-top: -40px;
     margin-left: 90px;



   }
   .projects>.menu{
    width: 300px;
    margin-left: 20px;
    
    

   }
   .contact>h4{
    margin-left: 120px;
    margin-top: -30px;

    
   }
   .contact>.Cmenu{
    margin-left: 120px;
   }
   .Cmenu>.addr{
    width: 190px;
   }

   .copyright{
    display: block;
    background-color: #051943;
    height: 120px;
    margin-top: -17px;
    padding-top: 10px;
  }
  .copyright>p{
    width: 270px;
    margin-right: -200px;
    
    
  }
   .copyright>.footerlogo{
    margin-left: 150px;
   }
   
  

}

